{% extends 'base.html' %}

{% load static %}




{% block content %}
<div class="row">
	<div class="col-sm-12">
		{% if error %}
		<h3>{{error}}</h3>
		{% endif %}
	</div>

</div>
<div class="row">
	<div class="col-sm-12">
		<a href="{% url 'issuesite:editClaim' issueID=issue.key.id claimID=claim.key.id %}" class="btn btn-outline-success" role="button">Edit Claim</a>

		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-outline-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Related Tags</button>
			<button type="button" class="btn btn-outline-success">Somewhat Related Tags</button>
			<button type="button" class="btn btn-outline-success">Marginally Related Tags</button>
		</div>

		<hr class="featurette-divider">

	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="collapse" id="collapseExample">
		  	<div class="well">
				{% for tag in tags %}
					| <a href="{% url 'issuesite:claim' %}?q={{ tag.title }}">
						{{ tag.title }}
					</a> | 
				{% endfor %}
		  	</div>
		  
		</div>
	</div>
	<hr class="featurette-divider">
</div>

<div class="row">
	<div class="col-sm-12">
		<h2>Claim:&nbsp</h2>
	</div>
	<div class="col-sm-12">
		<h2> {{ claim.title | safe }} </h2>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
	 	{{ claim.description | safe }} 
	</div>
</div>

        	

{% endblock content %}