{% extends 'base.html' %}

{% load static %}

{% block content %}

	<!-- Error Message -->

	<div class="row">
		<div class="col-sm-12">
			{% if error %}
				<h3 style="font-style: red;">{{error}}</h3>
			{% endif %}
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<a class="btn btn-outline-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			  	Tags <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
			</a>
			<hr class="featurette-divider">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="collapse" id="collapseExample">
	            <div class="well">
		            <div class="row">
		            	<div class="col-sm-10">
			            	<h5>Topics related to this issue.</h5>
			           	</div>
			        </div>
		            <div  id="issue_detail_taggle" class="textarea input clearfix example1"></div>
	        	</div>
			  <hr class="featurette-divider">
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'sourcebasesite/taggle.js-1.11.1/src/taggle.min.js' %}"></script>
	<script>
		new Taggle('issue_detail_taggle', {
    tags: {{ tags|safe }}
});
	</script>



	<!-- Issue title -->
	<div class="row">
		<div class="col-sm-12">
		 	<h2 class="section text-center"> Issue </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<h2>{{ issue.title | safe }} </h2> <!-- don't truncate characters -->
		</div>
		<div class="col-sm-2">
			<a href="{% url 'issuesite:editIssue' issue.key.id %}" class="btn btn-outline-primary my-2 my-sm-0 float-right" role="button">
				Edit Issue
			</a>
		</div>
	</div>

	<!-- Issue description -->

	<div class="row">
		<div class="col-sm-12">
		 	{{ issue.description | safe }}  <!-- don't truncate characters -->
		</div>
	</div>

	<hr class="featurette-divider">


	<!-- Claims title -->

	<div class="row">
		<div class="col-sm-12">
		 	<h2 class="section text-center"> Claims </h2>
		</div>
	</div>



	<div class="row">
		<div class="col-sm-12">
		    {% for claim in claims %}
		        <a target="_blank" class='list-group-item list-group-item-action' style="display: block;" href="{% url 'issuesite:claimDetail' issueID=issue.slug claimID=claim.slug %}">
		        	<div class='row'>
		        		<div class="col-sm-12">
		        			<h3>{{ claim.title | truncatechars:100}}</h3>
		        		</div>
		        	</div>
		        	<div class='row'>
		        		<div class="col-sm-12">
		        			<p> {{ claim.description | safe | truncatechars:300}} </p>
		        		</div>
		        	</div>
		        </a>
		    {% endfor %}
		</div>
	</div>



        	

{% endblock content %}

{% block scripts %}
	<script>
		var menuid = "navbar-issues";
		$(function() {
		    $('#' + menuid).addClass("active");
		});
	</script>
{% endblock scripts %}