{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="1018666741394-1jtidvl576osjq6k10uijghd9qu7j38v.apps.googleusercontent.com">
    <link rel="icon" href="../../favicon.ico">

    <title>Sourcebase</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href=https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <link href="{% static 'sourcebasesite/css/style.css' %}?version=1" rel="stylesheet">
    <link href="{% static 'sourcebasesite/css/footer2.css' %}?version=1" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}
    <script src="{% static 'sourcebasesite/js/tinymce/tinymce.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript"></script>
    <script>
      tinymce.init({
        selector: 'edittitle',
        inline: true,
        toolbar: 'undo redo',
        menubar: false,
        branding: false
      });
      tinymce.init({
        image_dimensions: false,
               image_class_list: [
                  {title: 'Responsive', value: 'img-responsive'}
              ],
        selector: '#edit_issue_textarea',
        branding: false,
        height: 500,
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | fontselect | fontsizeselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
          { title: 'Test template 1', content: 'Test 1' },
          { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '//www.tinymce.com/css/codepen.min.css'
        ]
      });
    </script>
  </head>

  <body class="site">

    <header>


<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Sourcebase</a>

        <div class="collapse navbar-collapse" id="navbarsExampleContainer">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" id="navbar-home"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item" id="navbar-issues"><a class="nav-link" href="/issues/">Issues</a></li>
              <li class="nav-item" id="navbar-source"><a class="nav-link" href="/source/">Source</a></li>
              <li class="nav-item" id="navbar-discuss"><a class="nav-link" href="/discuss/">Discuss</a></li>  
              <li class="nav-item" id="navbar-read"><a class="nav-link" href="/read/">Read</a></li>
              <li class="nav-item" id="navbar-act"><a class="nav-link" href="/act/">Act</a></li>  
              <li class="nav-item" id="navbar-about"><a class="nav-link" href="/about/">About</a></li>    
              <li class="nav-item" id="navbar-contact"><a class="nav-link" href="/contact/">Contact</a></li>
          </ul>
            <div class="form-inline my-2 my-md-0 my-2 my-sm-0 g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </nav>

      {% block carousel %}
      {% endblock carousel %}
    </header>
  
    <main class="site-content">

      <div class="container">
        {% block content %}
        {% endblock content %}
      </div><!-- /.container -->
    </main>



    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Source<span>base</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
          ·
          <a href="/" onclick="signOut();">Sign Out</a>
        </p>

        <p class="footer-company-name">Omar Ali &copy; 2017</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>21 Revolution Street</span> Paris, France</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1 555 123456</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@sourcebase.com">support@sourcebase.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>



<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<!-- CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

<!-- Firepad -->

<script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>


<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCXLkQ2natcA5XKjOwEt2htv5xgw7uz5KM",
    authDomain: "sourcebase-a547d.firebaseapp.com",
    databaseURL: "https://sourcebase-a547d.firebaseio.com",
    projectId: "sourcebase-a547d",
    storageBucket: "sourcebase-a547d.appspot.com",
    messagingSenderId: "1018666741394"

  };
  firebase.initializeApp(config);

    // Get Firebase Database reference.
  var firepadRef = firebase.database().ref();
  // console.log(firepadRef);

  // Create CodeMirror (with lineWrapping on).
  var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });

  // Create Firepad (with rich text toolbar and shortcuts enabled).
  var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
    richTextShortcuts: true,
    richTextToolbar: true,
    defaultText: 'Hello, World!'
  });
</script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

    {% block scripts %}
    {% endblock scripts %}
<script type="text/javascript">
  // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId());
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail());
    google_img = $( ".abcRioButtonIcon" ).html();
    $( ".abcRioButtonIcon" ).empty();
    img = document.createElement('img');
    img.src = profile.getImageUrl();
    img.classList.add('user-img');
    $( ".abcRioButtonIcon" ).append(img);
    $( ".abcRioButtonIcon" ).removeAttr('style');
    $( ".abcRioButtonIcon" ).addClass('signed-in');


    var id_token = googleUser.getAuthResponse().id_token;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/tokensignin/');
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.send('idtoken=' + id_token + '&'+ 'csrftoken=' + csrftoken);
  }

    function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    $( ".abcRioButtonIcon" ).removeClass('signed-in');
    $( ".abcRioButtonIcon" ).html(google_img);
    $( ".abcRioButtonIcon" ).css('padding', '8px');
    });
  }
</script>


  </body>
</html>
