{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sourcebase</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href=https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css rel="stylesheet">
    <link href="{% static 'sourcebasesite/css/style.css' %}?version=1" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}
    <script src='//cloud.tinymce.com/stable/tinymce.min.js?apiKey=1c71d4g4v5yesnh23vret31enyehv3m0jzgvcykuuiy7qclj'></script>
    <script>
      tinymce.init({
        selector: 'edittitle',
        inline: true,
        toolbar: 'undo redo',
        menubar: false,
        branding: false
      });
      tinymce.init({
        image_dimensions: false,
               image_class_list: [
                  {title: 'Responsive', value: 'img-responsive'}
              ],
        selector: 'textarea',
        branding: false,
        height: 500,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | fontselect | fontsizeselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
          { title: 'Test template 1', content: 'Test 1' },
          { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '//www.tinymce.com/css/codepen.min.css'
        ]
      });
    </script>
  </head>

  <body class="site">

    <header>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Sourcebase</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          
            <ul class="navbar-nav mr-auto mx-auto" style="font-size: 1rem">
              <li class="nav-item" id="navbar-home"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item" id="navbar-issues"><a class="nav-link" href="/issues/">Issues</a></li>
              <li class="nav-item" id="navbar-source"><a class="nav-link" href="/source/">Source</a></li>
              <li class="nav-item" id="navbar-discuss"><a class="nav-link" href="/discuss/">Discuss</a></li>  
              <li class="nav-item" id="navbar-read"><a class="nav-link" href="/read/">Read</a></li>
              <li class="nav-item" id="navbar-act"><a class="nav-link" href="/act/">Act</a></li>  
              <li class="nav-item" id="navbar-about"><a class="nav-link" href="/about/">About</a></li>    
              <li class="nav-item" id="navbar-contact"><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <main class="site-content">
      {% block carousel %}
      {% endblock carousel %}
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div><!-- /.container -->
    </main>

    <footer style="font-size: 1vw">
      <div class="container">
        <hr class="featurette-divider">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Sourcebase &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
